public/
resources/
node_modules/
package-lock.json
.hugo_build.lock
nohup.out
*.log

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/

.DS_Store
