+++
title = "HugeGraph Website"
linkTitle = "Huge Docs"

+++

{{< blocks/cover image_anchor="top" height="full" color="orange">}}

<div class="mx-auto">

	<h1 ><span style="font-size:50px;font-weight:bold">Apache</span>
		<span style="font-size:50px;font-weight:bold">HugeGraph</span>
	</h1>
	<p><span style="font-size:20px; float:contour">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Incubating</span><br/></p>
	
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/hugegraph/hugegraph">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">HugeGraph是一款易用、高效、通用的图数据库</p>
	<p>实现了Apache TinkerPop3框架、兼容Gremlin查询语言。</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p>HugeGraph支持百亿以上的顶点(Vertex)和边(Edge)快速导入，毫秒级的关联查询能力，并可与Hadoop、Spark等</p>
<p>大数据平台集成以进行离线分析，主要应用场景包括关联分析、欺诈检测和知识图谱等。</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="易用" %}}
支持Gremlin图查询语言与RESTful API，并提供图检索常用接口，具备齐全的周边工具，支持分布式存储、数据多副本及横向扩容，内置多种后端存储引擎，轻松实现各种查询、分析。

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-shipping-fast" title="高效" %}}
在图存储和图计算方面做了深度优化，提供支持多种数据源的批量导入工具，轻松完成百亿级数据快速导入，通过优化过的查询达到图检索的毫秒级响应，支持数千用户并发的在线实时操作。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-exchange-alt" title="通用" %}}
支持Apache Gremlin标准图查询语言和Property Graph标准图建模方法，支持基于图的OLTP和OLAP方案。集成Apache Hadoop及Apache Spark大数据平台，也可插件式轻松扩展后端存储引擎。
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="blue-deep">}}
<div class="col">
<h1 class="text-center">Apache 的第一个图数据库项目</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="far fa-tools" title="使用易用的**工具链**" %}}
可从[此](https://github.com/apache/incubator-hugegraph-toolchain)获取图数据导入工具, 可视化界面以及备份还原迁移工具, 欢迎使用
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="参与开源" url="https://github.com/hugegraph/hugegraph" %}}
我们可以在 **Github** 上提交 [Pull Request](https://github.com/hugegraph/hugegraph/pulls). 热烈欢迎大家加入!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-weixin" title="关注微信" url="https://twitter.com/apache-hugegraph" %}}
关注微信公众号 "HugeGraph"

(推特正在路上...)
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="blue-light">}}

<div class="col-12">
<h1 class="text-center">欢迎大家参与 HugeGraph 的任何贡献</h1>
</div>

{{< /blocks/section >}}
