+++
title = "HugeGraph Website"
linkTitle = "Huge Docs"

+++

{{< blocks/cover image_anchor="top" height="full" color="orange">}}

<div class="mx-auto">

	<h1 ><span style="font-size:50px;font-weight:bold">Apache</span>
		<span style="font-size:50px;font-weight:bold">HugeGraph</span>
	</h1>
	
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/apache/hugegraph">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">HugeGraph 是一款全栈式图数据库系统</p>
	<p>支持从数据存储、实时查询到离线分析的完整图数据处理能力，同时支持 Gremlin 和 Cypher 查询语言。</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p>HugeGraph 支持百亿级图数据高速导入与毫秒级实时查询，可与 Spark、Flink 等大数据平台深度集成。</p>
<p>在 AI 时代，通过与大语言模型 (LLM) 结合，为智能问答、推荐系统、风控反欺诈、知识图谱等场景提供强大的图计算能力。</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="易用" %}}
支持Gremlin图查询语言与RESTful API，并提供图检索常用接口，具备齐全的周边工具，支持分布式存储、数据多副本及横向扩容，内置多种后端存储引擎，轻松实现各种查询、分析。

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-shipping-fast" title="高效" %}}
在图存储和图计算方面做了深度优化，提供支持多种数据源的批量导入工具，轻松完成百亿级数据快速导入，通过优化过的查询达到图检索的毫秒级响应，支持数千用户并发的在线实时操作。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-exchange-alt" title="通用" %}}
支持Apache Gremlin标准图查询语言和Property Graph标准图建模方法，支持基于图的OLTP和OLAP方案。集成Apache Hadoop及Apache Spark大数据平台，也可插件式轻松扩展后端存储引擎。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brain" title="智能化" %}}
集成LLM实现GraphRAG智能问答、自动化知识图谱构建，内置20+图机器学习算法，轻松构建AI驱动的图应用。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-expand-arrows-alt" title="可扩展" %}}
支持水平扩容和分布式部署，从单机到PB级集群无缝迁移，提供多种存储引擎适配，满足不同规模和性能需求。
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-puzzle-piece" title="开放生态" %}}
遵循Apache TinkerPop标准，提供Java、Python、Go等多语言客户端，兼容主流大数据平台，社区活跃持续演进。
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="blue-deep">}}
<div class="col">
<h1 class="text-center">首个 Apache 基金会的顶级图项目</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="far fa-tools" title="使用易用的**工具链**" %}}
可从[此](https://github.com/apache/hugegraph-toolchain)获取图数据导入工具, 可视化界面以及备份还原迁移工具, 欢迎使用
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="参与开源" url="https://github.com/apache/hugegraph" %}}
我们可以在 **Github** 上提交 [Pull Request](https://github.com/apache/hugegraph/pulls). 热烈欢迎大家加入!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-weixin" title="关注微信" %}}
关注微信公众号 "HugeGraph" 获取最新动态

也可以加入 [ASF Slack 频道](https://the-asf.slack.com/archives/C059UU2FJ23)参与讨论
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="blue-light">}}

<div class="col-12">
<h1 class="text-center">欢迎大家给 HugeGraph 添砖加瓦</h1>
</div>

{{< /blocks/section >}}
