{{- $page := .page -}}
{{- $page.Store.Set "tdOutputFormat" "print" -}}
{{- if .book }}{{ $page.Store.Set "tdBookAggregate" true }}{{ end -}}
{{- $content := $page.RenderString (dict "display" "block") $page.RawContent -}}
{{- $content = partial "content/static-image-output.html" $content -}}
{{- partial "code/register-rendered-ids.html" (dict "page" $page "content" $content) -}}
{{- if .book }}{{ $page.Store.Delete "tdBookAggregate" }}{{ end -}}
{{- return (printf "<template data-hg-authored-content=\"start\"></template>%s<template data-hg-authored-content=\"end\"></template>" $content | safeHTML) -}}
