[submodule "assets/vendor/bootstrap"]
	path = assets/vendor/bootstrap
	url = https://api.mtr.pub/twbs/bootstrap.git
	shallow = true
	branch = v4-dev
[submodule "assets/vendor/Font-Awesome"]
	path = assets/vendor/Font-Awesome
	url = https://api.mtr.pub/FortAwesome/Font-Awesome.git
	shallow = true
