+++
title = "HugeGraph Website"
linkTitle = "Huge Docs"

+++
{{< blocks/cover image_anchor="top" height="full" color="orange">}}

<div class="mx-auto">

	<h1 ><span style="font-size:50px;font-weight:bold">Apache</span>
		<span style="font-size:50px;font-weight:bold">HugeGraph</span>
	</h1>
	<p><span style="font-size:20px; float:contour">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Incubating</span><br/></p>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="./docs/download/download/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">HugeGraph is a convenient, efficient, and adaptable graph database</p>
	<p>compatible with the Apache TinkerPop3 framework and the Gremlin query language.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p>HugeGraph supports fast import performance in the case of more than 10 billion Vertices and Edges</p>
<p> Graph,millisecond-level OLTP query capability, and large-scale distributed</p>
<p> graph processing (OLAP). The main scenarios of HugeGraph include</p>
<p> correlation search, fraud detection, and knowledge graph.</p>

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Convenient" %}}
Not only supports Gremlin graph query language and RESTful API but also provides commonly used graph algorithm APIs. To help users easily implement various queries and analyses, HugeGraph has a full range of accessory tools, such as supporting distributed storage, data replication, scaling horizontally, and supports many built-in backends of storage engines.

<!-- Please follow us for updates! -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-shipping-fast" title="Efficient" %}}
Has been deeply optimized in graph storage and graph computation. It provides multiple batch import tools that can easily complete the fast-import of tens of billions of data, achieves millisecond-level response for graph retrieval through ameliorated queries, and supports concurrent online and real-time operations for thousands of users.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-exchange-alt" title="Adaptable" %}}
Adapts to the Apache Gremlin standard graph query language and the Property Graph standard modeling method, and both support graph-based OLTP and OLAP schemes. Furthermore, HugeGraph can be integrated with Hadoop and Spark's big data platforms, and easily extend the back-end storage engine through plug-ins.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="blue-deep">}}
<div class="col">
<h1 class="text-center">The first graph database project in Apache</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="far fa-tools" title="Get The **Toolchain**" %}}
[It](https://github.com/apache/incubator-hugegraph-toolchain) inlcudes graph loader & dashboard & backup tools
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Efficient" url="https://github.com/apache/incubator-hugegraph" %}}
We do a [Pull Request](https://github.com/apache/incubator-hugegraph/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-weixin" title="Follow us on Wechat!" url="https://twitter.com/apache-hugegraph" %}}
Follow the official account "HugeGraph" to get the latest news

PS: twitter account it's on the way
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="blue-light">}}

<div class="col-12">
<h1 class="text-center">Welcome to the HugeGraph open source community!</h1>
</div>

{{< /blocks/section >}}
