+++
title = "HugeGraph Website"
linkTitle = "Huge Docs"

+++
{{< blocks/cover image_anchor="top" height="full" color="orange">}}

<div class="mx-auto">

	<h1 ><span style="font-size:50px;font-weight:bold">Apache</span>
		<span style="font-size:50px;font-weight:bold">HugeGraph</span>
	</h1>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="./docs/download/download/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">HugeGraph is a full-stack graph database system</p>
	<p>providing complete graph data processing capabilities from storage, real-time querying to offline analysis, supporting both Gremlin and Cypher query languages.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p>HugeGraph supports high-speed import of billions of graph data and millisecond-level real-time queries,</p>
<p>with deep integration with big data platforms like Spark and Flink. In the AI era, combined with Large Language Models (LLMs),</p>
<p>it provides powerful graph computing capabilities for intelligent Q&A, recommendation systems, fraud detection, knowledge graphs and more.</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Convenient" %}}
Not only supports Gremlin graph query language and RESTful API but also provides commonly used graph algorithm APIs. To help users easily implement various queries and analyses, HugeGraph has a full range of accessory tools, such as supporting distributed storage, data replication, scaling horizontally, and supports many built-in backends of storage engines.

<!-- Please follow us for updates! -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-shipping-fast" title="Efficient" %}}
Has been deeply optimized in graph storage and graph computation. It provides multiple batch import tools that can easily complete the fast-import of tens of billions of data, achieves millisecond-level response for graph retrieval through ameliorated queries, and supports concurrent online and real-time operations for thousands of users.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-exchange-alt" title="Adaptable" %}}
Adapts to the Apache Gremlin standard graph query language and the Property Graph standard modeling method, and both support graph-based OLTP and OLAP schemes. Furthermore, HugeGraph can be integrated with Hadoop and Spark's big data platforms, and easily extend the back-end storage engine through plug-ins.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brain" title="AI-Ready" %}}
Integrates LLM for GraphRAG intelligent Q&A, automated knowledge graph construction, with 20+ built-in graph machine learning algorithms to easily build AI-driven graph applications.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-expand-arrows-alt" title="Scalable" %}}
Supports horizontal scaling and distributed deployment, seamlessly migrating from standalone to PB-level clusters, with multiple storage engine options for different scale and performance requirements.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-puzzle-piece" title="Open Ecosystem" %}}
Adheres to Apache TinkerPop standards, provides multi-language clients (Java, Python, Go), compatible with mainstream big data platforms, with an active and continuously evolving community.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="blue-deep">}}
<div class="col">
<h1 class="text-center">The First Apache Foundation Top-Level Graph Project</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="far fa-tools" title="Get The **Toolchain**" %}}
[It](https://github.com/apache/hugegraph-toolchain) includes graph loader & dashboard & backup tools
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Efficient" url="https://github.com/apache/hugegraph" %}}
We do a [Pull Request](https://github.com/apache/hugegraph/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join us on Slack!" url="https://the-asf.slack.com/archives/C059UU2FJ23" %}}
Join the [ASF Slack channel](https://the-asf.slack.com/archives/C059UU2FJ23) for community discussions

Could also follow the WeChat account "HugeGraph" for updates
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section color="blue-light">}}

<div class="col-12">
<h1 class="text-center">Welcome to the HugeGraph open source community!</h1>
</div>

{{< /blocks/section >}}
