{{ define "main" }}
<div class="row flex-xl-nowrap">
  <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
    {{ partial "sidebar.html" . }}
  </div>
  <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
    <header class="mb-4">
      <h1 class="h2">{{ .Title }}</h1>
    </header>
    <div class="td-content">
      {{ with .Content }}{{ . }}{{ end }}
      {{ partial "page-meta-lastmod.html" . }}
    </div>
  </main>
  <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
    {{ partial "toc.html" . }}
  </div>
</div>
{{ end }}
